<div class="parent">
  <div>
    <h1 class="path-name-container">CHOOSE YOUR PATH</h1>
  </div>
  <div>
    <div class="parent-div-2">
        <%= render partial: "/shared/index_card_sm"%>
    </div>
  </div>
  <div class="parent-div-3">
    <%= image_tag "assistant.svg", alt: "alttext", class: "girl-assistant-img" %>
  </div>
</div>


