<div class="path-show-page-container">

  <div class="path-name-container">
    <h1><%= @path.name %></h1>
  </div>

  <div class="path-show-page-middle-container">
     <%#= render 'shared/progress_bar' %>
     <div class="steps-container">
        <% @steps.each do |step| %>
          <%= render 'shared/step_card_closed', locals: { step: step } %>
        <% end %>
     </div>
  </div>

<!--   <div class="container-right">
  </div> -->

</div>

