// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Brand colors

$bg-white: #E5E5E5;
$cb-white: #F8F4FF;
$text-color: #003366;
$hero-color: #A9DCDB;
$alert: #6C63FF;
$product: #997029;
$warn: #FE0760;
$reward: #F3C72A;
