h1{
  font-size: 45px;
  font-family: $headers-font;
  line-height: 45px;
  color: $text-color;
}

body {
  background-color: $bg-white;
}

h2 {
  font-size: 35px;
  font-family: $headers-font;
  color: $text-color;
}

h3 {
  font-size: 24px;
  font-family: $headers-font;
  color: $text-color;
}

h4 {
  font-size: 24px;
  font-family: $headers-font;
  color: $text-color;
}

h5 {
 font-size: 30px;
 font-family: $body-font;
 font-weight: bold;
 color: $text-color;
}

h6 {
  font-size: 25px;
  font-family: $body-font;
  font-weight: bold;
  color: $text-color;
}

p {
  font-size: 18px;
  font-family: $body-font;
  line-height: 29px;
  color: $text-color;
}

.title {
font-family: $title-font;
font-size: 30px;
font-weight: bold;
color: $text-color;
}

.logo {
  transform: rotate(270deg) scaleY(-1) !important;
}
