// path#show
.path-show-page-container{
  width: 100%;
}

.path-progress-bar-container {
  margin-left: 360px;
  width: 1540px;
}

.path-show-page-content-container {
  display: flex;
  width: 100%;
}

.path-name-container {
  width: 360px;
  text-align: center;
  padding-top: 38px;
}

.path-show-page-middle-container {
  width: 1120px;
}

.container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
  padding-top: 38px;
}

//edit user
.edit-user-container {
  width: 25%;
  margin: 2em auto;
}

//profiles
.mt-70 {
  margin-top: 70px;
}

.mt-30 {
  margin-top: 30px;
}

.w-third {
  width: 33.33333%;
}

.w-47 {
  width: 47%;
}

.mr-60 {
  margin-right: 60px;
}

.profile-card {
  box-sizing: border-box;
  border-radius: 0px 0px 20px 0px;
  border: 2px solid $text-color;
  position: relative;
  background-color: $cb-white;
}

.profile-card-content {
  margin: 24px 32px;
  p {
    line-height: 18px;
  }
}

.profile-card-see-btn {
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: $text-color;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  border-radius: 0px 0px 20px 0px;
  h6 {
    color: $cb-white;
  }
}

.profile-cup {
  font-size: 108px;
  // margin-top: 34px;
  // margin-bottom: 33px;
  color: #E6E6E6;
  // flex-basis: auto;
}

.completed-yellow {
  color: #F3C72A;
}
