// path#show
.path-show-page-container{
  width: 100%;
}

.path-progress-bar-container {
  margin-left: 360px;
  width: 1540px;
}

.path-show-page-content-container {
  display: flex;
  width: 100%;
}

.path-name-container {
  width: 360px;
  text-align: center;
  padding-top: 38px;
}

.path-show-page-middle-container {
  width: 1120px;
  margin-bottom: 100px;
}

.container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  padding-top: 38px;
  height: 80vh;
  position: sticky;
  top: 0;
  right: 0;
}
