// path#show
.path-show-page-container{
  width: 100%;
  display: flex;
}
.path-name-container {
  width: 400px;
  padding: 130px 100px 0 100px;
}
.path-show-page-middle-container {
  width: 1120px;
}

.container-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 380px;
  padding-top: 38px;
}
