<a href="" class="btn-accordion-link-wrapper">
  <div class="btn-accordion">
    <div class="btn-accordion-text">
        <!-- ToDo: Need to pass the step's progress in order to show the correct text -->
        Start
    </div>
  </div>
</a>
