<a href=<%= locals[:url] %>, class="btn-accordion-link-wrapper", target="_blank">
  <div class="btn-accordion">
    <div class="btn-accordion-text">
      <% if locals[:completed] %>
        Start again
      <% else %>
        Start
      <% end %>
    </div>
  </div>
</a>
