
<div style="z-index: 100; display: none;">
    <div class="path-card-expanded mt-4 pt-5 px-5" id="full_stack_developer">
      <div>
        <!-- Cup -->
        <span class="iconify" data-icon="si-glyph:champion-cup" data-inline="false" style="font-size: 150px; color: #F3C72A;"></span>
         <h5 class="mt-4">"Full Stack Developer"</h5>
        <!-- Main info -->
        <div class="d-flex text-left" style="display: flex;">
            <i class="far fa-calendar-check step-duration-symbol"></i>
            <p>duration</p>
        </div>
        <div class="d-flex text-left" style="display: flex; align-items: center;">
          <i class="fas fa-circle"></i><i class="far fa-circle"></i><i class="far fa-circle mr-3"></i>
          <p> Beginner</p>
        </div>
        <!-- Skills -->
        <div class="d-flex">
          <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
            <span class="iconify" data-inline="false" data-icon="teenyicons:ruby-outline" style="font-size: 24px; color: #003366;"> </span>
            <p style="font-size: 15px;">Ruby</p>
          </div>
          <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
            <span class="iconify" data-inline="false" data-icon="ant-design:html5-filled" style="font-size: 24px; color: #003366;"></span>
            <p style="font-size: 15px;">HTML</p>
          </div>
          <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
            <span class="iconify" data-inline="false" data-icon="bx:bxl-javascript" style="font-size: 24px; color: #003366;"></span>
            <p style="font-size: 15px;">Javascript</p>
          </div>
          <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
            <span class="iconify" data-inline="false" data-icon="cib:css3-shiled" style="font-size: 24px; #003366;"></span>
            <p style="font-size: 15px;">CSS</p>
          </div>
          <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
            <span class="iconify" data-inline="false" data-icon="cib:css3-shiled" style="font-size: 24px; color: #003366;"></span>
            <p style="font-size: 15px;">Rails</p>
          </div>
        </div>
        <!-- Description -->
        <div>
          <p><strong>WHAT YOU FIND IN THIS PATH</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Urna rutrum tellus rutrum feugiat cursus ipsum eget nulla.
          Auctor imperdiet odio vulputate porta arcu nisl purus lobortis eget.
          Cras ac eu ut urna purus, varius nisl tincidunt velit. Dictumst sed sit massa mattis facilisi molestie sed quisque.
          Enim aenean nec semper a, tempor eget pharetra tristique viverra. </p>
        </div>
        <!-- This paths features modules from: -->
        <div>
          <p><strong>FEATURING MODULES FROM</strong></p>
          <p>CODEACADEMY</p>
          <p>CODEWARS</p>
        </div>
      </div>
                <!-- Start button -->
      <div class="btn-card-big d-flex text-left"> START
      </div>
    </div>
</div>
