  <div class="learning-group-box-container<%= "-hover-enabled" if locals[:first_step_completed] %>" >
    <% if locals[:first_step_completed] %>
      <div class="learning-group-box-container-unlocked">
        <%= link_to path_path(@path), class: 'join-learning-group-link-wrapper' do %>
          <div class="learning-group-box-text-container learning-group-box-border">
            <h5 class="learninig-group-box-title">Let me help you out!</h5>
            <p><strong>Learning Groups</strong> are a great way to improve your learning experience and
            motivation.</p>
            <p>Everyone gets stuck from time to time and <strong>a second pair of eyes</strong>
            is one of the most important resources in a developer's life!</p>
          </div>

          <div class="btn-learning-group-box-container">
            <p class="btn-card-sm text-center btn-learning-group-box">Join Learning Group</p>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="learning-group-box-container-locked">
        <p>Unlock Learning Groups by completing the first step of this path.</p>
      </div>
    <% end %>
  </div>
