<div class="path-progress">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
  </div>
  <!-- <i class="fas fa-trophy" ></i> -->
  <span class="iconify" data-icon="si-glyph:champion-cup" data-inline="false"></span>
</div>

<%# hourly_sum = 0
Path.find(1).steps.each do |s|
hourly_sum += s.duration
end %>

<%# progress_sum = 0
User.find(1).where(path_id: 1, completion: true).each do |p|
progress_sum += p.step.duration
end
 %>

<%# progress_percentage = ((progress_sum.to_f / hourly_sum.to_f)*100).round %>


<%# // the progress-bar width should be set in an inline-style in the "progress"
// container, unless if it is determined automatically through a surrounding
// container. %>
