<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

<!-- I think we need ONE card and an event listener for the expand-button which toggles the class
e.g. "expanded" on this card. Then the logic what gets displayed in this card is done here in this ONE component -->

<div class="step-card-closed-container">

  <div class="step-card-logo">
    <span class="iconify logo" data-inline="false" data-icon="ph:path-bold"></span>
  </div>

  <div class="step-card-text">
    <h2><%= @path.name %></h2>
    <!-- add if statement and display either "completed" or "to do" -->
    <p class="completion"><i class="fas fa-check-circle"></i> Completed</p>
  </div>

  <div class="step-card-expand-icon">
    <i class="fas fa-angle-down"></i>
  </div>

</div>
