<div class="banner">
  <div class="card-start-learning">
    <h1>THE SMARTEST WAY<br> TO FIND YOUR PATH<br> IN CODING</h1>
    <a class="btn" href="/paths">Start learning</a>
    <br>
    <a class="btn-account" href=""> I already have an account</a>
  </div>
  <div class="hello-girl">
    <%= image_tag "assistant.svg", alt: "alttext", class: "girl-assistant-img" %>
    <p>HELLO!<br>NICE TO SEE YOU<br> HERE!</p>
  </div>
</div>

  <div class="container-home">
    <div class="row">
      <div class="column">
        <div class="card-about">
      <i class="fa fa-trophy blue home" aria-hidden="true"></i>
      <h4>Clear learning paths with the best free materials of the web</h4>
      <p>In each learning path we have put together the best available free materials that will guide you towards the learning goal of that learning path.</p>
    </div>
    </div>
    <div class="column">
    <div class="card-about">
      <i class="fa fa-trophy yellow home" aria-hidden="true"></i>
      <h4>Apply your knowledge in real world projects</h4>
      <p>On each step along your learning path you will be provided with a real-world project you can test your knowledge on. Projects include hints if you get stuck and are evaluated by your peers.</p>
    </div>
    </div>
    <div class="column">
    <div class="card-about">
      <i class="fa fa-trophy brown home" aria-hidden="true"></i>
      <h4>Get feedback, help and companionship on your journey</h4>
      <p>You will be connected with a learning-group of your peers who will be there to motivate you, give you feedback on your projects and help you out when you get stuck.</p>
    </div>
    </div>
    <div class="column">
    <div class="card-about">
      <i class="fa fa-trophy purple home" aria-hidden="true"></i>
      <h4>Connect with mentors and our great community</h4>
      <p>Our general slack channels connect you with more experienced developers who will be able to help you out on advanced questions</p>
    </div>
    </div>
  </div>
  </div>


