<div class="banner d-flex">
  <%= render'shared/carousel' %>
  <div class="card-start-learning">
    <h1>WE FOUND THE BEST<br>
      FREE CODING LESSONS<br>
      OVER THE INTERNET<br>
      AND BUILT CAREER PATHS<br> OUT OF THEM</h1>
    <a class="btn" href="/paths">Start learning</a>
  </div>
  <%#= render'shared/slider'  %>
</div>


    <div class="row home-grid">
      <div class="column">
        <div class="card-about">
      <i class="fas fa-briefcase blue home" aria-hidden="true"></i>
      <h4>Choose who you would like to become</h4>
      <p>Are you the next web developer, data analyst or UX/UI designer? It is up you to choose!</p>
    </div>
    </div>
    <div class="column">
    <div class="card-about">
      <i class="fas fa-road yellow home" aria-hidden="true"></i>
      <h4>Have a guided path to follow</h4>
      <p>We provide you all the necessary free online resources available out there to achieve your career goal.</p>
    </div>
    </div>
    <div class="column">
    <div class="card-about">
      <i class="fas fa-users brown home" aria-hidden="true"></i>
      <h4>Join learning group to interact while coding</h4>
      <p>Join a learning group who will be there to motivate you and help you out when you get stuck.</p>
    </div>
    </div>
    <div class="column">
    <div class="card-about">
      <i class="fa fa-trophy home" style="color: #FE0760;" aria-hidden="true"></i>
      <h4>Show your achievements across learning platforms</h4>
      <p>Want to show off your activities on other coders' platforms? Connect your accounts in one click. </p>
    </div>
    </div>
    <div class="img-featuring ">
      <img src="https://res.cloudinary.com/dqopwdgta/image/upload/v1615470580/Home/platform_featuring_h93lcj.svg" alt="Featured learning platforms">
    </div>
  </div>
