<div class="banner">
  <div class="card-start-learning">
    <h1>THE SMARTEST WAY<br> TO FIND YOUR PATH<br> IN CODING</h1>
    <a class="btn" href="/paths">Start learning</a>
    <br>
    <a class="btn-account" href=""> I already have an account</a>
  </div>
  <div class="hello-girl">
    <%= image_tag "home.gif", class: "home-gif" %>
  </div>
</div>

<div id="action-point">
  <h4>We found the best free coding lessons over internet and built carrer paths out of them<br> <br>Your turn</h4>
</div>
    <div class="row home-grid">
      <div class="column">
        <div class="card-about">
      <i class="fas fa-briefcase blue home" aria-hidden="true"></i>
      <h4>Choose who you would like to become</h4>
      <p>Are you the next web deveoper, data analyst or UX/UI designer? It is up you to choose!</p>
    </div>
    </div>
    <div class="column">
    <div class="card-about">
      <i class="fas fa-road yellow home" aria-hidden="true"></i>
      <h4>Have a guided path to follow</h4>
      <p>We provide you all the necessary free online resources available out there to achieve your career goal.</p>
    </div>
    </div>
    <div class="column">
    <div class="card-about">
      <i class="fas fa-users brown home" aria-hidden="true"></i>
      <h4>Join learning group to interact while coding</h4>
      <p>Join a learning group who will be there to motivate you and help you out when you get stuck.</p>
    </div>
    </div>
    <div class="column">
    <div class="card-about">
      <i class="fa fa-trophy purple home" aria-hidden="true"></i>
      <h4>Show your achievements across different learning platfroms</h4>
      <p>Want to show off your progress on Codewars, Codecademy and so on? No worries, connect your various accounts to CLP.</p>
    </div>
    </div>
  </div>


