.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-nav {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  // border: 1px solid #003366;
  box-sizing: border-box;
  cursor: pointer;
}

.avatar-profile {
  width: 113px;
  height: 113px;
  object-fit: cover;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}
