.btn-card-sm {
  background-color: $text-color;
  padding: 10px 42px;
  color: $cb-white;
  margin-bottom: 0 !important;

}


.btn-card-big {
  height: 65.048583984375px;
  width: 208.7454833984375px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;
  background-color: $text-color;
  padding: 10px 42px;
  color: $cb-white;
  margin-bottom: 0 !important;
  font-family: Poppins;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none !important;
}

.btn-edit-profile {
  padding: 15px 32px;
  border-radius: 4px;
  border: 1px solid $text-color;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  @extend p;
}
