.btn-card-sm {
  background-color: $text-color;
  padding: 10px 42px;
  color: $cb-white;
  margin-bottom: 0 !important;

}


.btn-card-big {
  height: 65.048583984375px;
  width: 208.7454833984375px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;
  background-color: $text-color;
  padding: 10px 42px;
  color: $cb-white;
  margin-bottom: 0 !important;
  font-family: Poppins;
  font-size: 30px;
  font-weight: bold;
}
