.btn-card-sm {
  background-color: $text-color;
  padding: 10px 42px;
  color: $cb-white;
  margin-bottom: 0 !important;

}

.btn-btn-card-sm.custom {
  background-color: none !important;
}

.btn-card-big-primary {
  background-color: $text-color;
  height: 60px;
  width: 600px;
  left: 0px;
  top: 0px;
  padding: 0px 42px;
  padding-bottom: 14px !important;
  color: $cb-white;
  margin-bottom: 0 !important;
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
}

.btn-card-big-primary:hover{
  opacity: 1;
  font-size: 40px;
  //transform: scale(1.1);
  background-color: $alert;
  transition: background-color;
  text-decoration: none !important;
  }

.p_card_sm:hover{
     //transform: translate(4px);
     transform: translate(2%, -2%);
     background-color: #A9DCDB;
     transition-duration: 0.5s;
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
     border: 3px solid $text-color;
 }


 .btn-modal {
  padding: 10px 42px;
  color: $cb-white;
  margin-bottom: 0 !important;
  border: none;
  background-color: $text-color;
  height: 60px;
  width: 600px;
  left: 0px;
  top: 0px;
  padding: 0px 42px;
  padding-bottom: 14px !important;
  color: $cb-white;
  margin-bottom: 0 !important;
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
}


.btn-modal:hover{
  opacity: 1;
  font-size: 40px;
  //transform: scale(1.1);
  background-color: $alert;
  transition: background-color;
  text-decoration: none !important;
  }
// .btn-card-big-secondary {
//   height: 65.048583984375px;
//   width: 208.7454833984375px;
//   left: 0px;
//   top: 0px;
//   border-radius: [object Object]px;
//   background-color: $hero-color;
//   padding: 10px 42px;
//   color: $cb-white;
//   margin-bottom: 0 !important;
//   font-family: Poppins;
//   font-size: 14px;
//   font-weight: bold;
//   text-decoration: none !important;
// }

// .btn-card-big-secondary:hover{
//   background-color: $alert;
//   transition: background-color 0.5s ease;
//   }
