.girl-assistant-img {
  width: 470px;
  height: 690.94px;
  margin-top: 230px;
  margin-left: 100px;
  margin-bottom: -100px;
}

.girl-assistant-words {
  font-size: 30px;
  position: absolute;
  bottom: 660px;
  right: 322px;
  line-height: 30px;
  text-align: center;
  font-family: Comic Neue;
  font-weight: bolder;
  line-height: 34px;

}

