.parent {
  display: flex;
   overflow: auto;
}

.parent-div-2 {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  align-items: start;
  padding-bottom: 30px;
}

.parent-div-3 {
  align-self: flex-end;
}

