.modal.custom .modal-dialog {
  //margin:0 auto;
  background-color: $cb-white !important;
  border: 0px;
  vertical-align: middle;
  text-align: center;
  letter-spacing: .01em;
  border: 4px solid $text-color;

}

.modal.custom .modal-content {
  //margin:0 auto;
  vertical-align: middle;
  text-align: center;
  background-color: $cb-white !important;
  padding-left: 0px;
  padding-right: 0px;
  border: 0px;
  p {
    //font-size: 12px;
    margin: 5px;
  }
}

.modal-content {
  box-shadow: 0 10px 20px rgba(0,0,0,.2), 0 4px 8px rgba(0,0,0,.1);
}

.skill-icon {
  vertical-align: middle !important;
  padding-top: 7px !important;
  padding-right: 30px ;
}

.modal-body{
  padding-top: 5px;
}

.modal-header {
  border-bottom-color: $cb-white;
  padding-bottom: 0px;
}
.modal-footer {
  border-top-color: white;
  justify-content: center;
  background-color: $text-color;
  padding: 0px;

}
.modal-footer:hover {
  background-color: $alert;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem auto -1rem -1rem;
    color: #A1AAFC;
    font-size: 50px;
}




