.navbar-lewagon {
  justify-content: space-between;
  background: $hero-color;
  height: 108px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.centered-nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.navbar-h3 {
  font-size: 24px;
  font-family: $headers-font;
  color: $text-color;
}
