.p_card_sm {
  background-color: $cb-white;
  width: 394px;
  height: 419px;
  border: 2px solid $text-color;
  border-radius: 5px 5px 20px;
  i {
    color: $text-color;
  }
  overflow: hidden;
}

.p_card_sm_img {
width: 140px;
height: 220px;
}

.hover {

}
