// This is the outside container.
.path-progress {
  display: flex;
  .iconify {
    font-size: 108px;
    // margin-top: 34px;
    // margin-bottom: 33px;
    color: #E6E6E6;
    flex-basis: auto;
    margin-left: 46px;
  }
}

// this is a bootstrap class for the container of the progress bar,
// which I have modified
.progress {
  height: 41px;
  margin-top: 34px;
  margin-bottom: 33px;
  border-radius: 30px;
  background-color: #E6E6E6;
  // width: 90%;
  flex-grow: 2;
}

// this is a bootstrap class for the part of the progress-bar
// that shows the actual progress
.progress-bar {
  background-color: $reward;
  color: $text-color;
}


