.step-card-closed-container {
  width: 100%;
  height: 124px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #D1D3D4;
  // background-color: $cb-white;
}

.step-card-logo {
  padding: 0 34px;
  .logo {
    color: #CCCCCC;
    font-size: 70px;
    // transform: rotate(270deg) scaleY(-1) !important;
  }
}

.step-card-text {

  .completion {
    margin-bottom: 0;
  }
}

.step-card-expand-icon {
  color: #CCCCCC;
  font-size: 52px;
  margin-right: 34px;
  margin-left: auto;
  transform: rotate(270deg);
}
